<ion-header>
    <ion-navbar color="danger">
        <ion-title>
            Ordering Coffee
        </ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content padding>


    <div id="item">
            
        <ion-item>
            <ion-label floating>Name</ion-label>
                <ion-input  [(ngModel)]="name" id="name" ></ion-input><br><br><br><br><br>
            </ion-item>

    </div><br>
            
            
    
        <h2>Topping</h2>
        <ion-item>
                <ion-label  >Whipped Cream</ion-label>
                <ion-checkbox [(ngModel)]="whippcream" color="dark"  ></ion-checkbox>
                </ion-item>
                <ion-item>
                <ion-label >Chocolate</ion-label>
                <ion-checkbox [(ngModel)]="chocolate" color="dark"  ></ion-checkbox>

                </ion-item>
    
    
    
 
<div class="btn"><br>
    <h2>Quantity</h2>

</div>

<ion-row>
    <ion-col>
        <button ion-button  (click)="clicksub()">-</button>
    </ion-col>
    <ion-col>
            <ion-label>{{increment}}</ion-label>
        </ion-col>
        <ion-col>
                <button ion-button (click)="clickadd()">+</button>
            </ion-col>
</ion-row>

<div *ngIf="summary">
        <!-- <p *ngIf="value1 == true">Whipped</p>
        <p *ngIf="value2 == true">Chocolate</p> -->
        <p>Name:{{name}}</p>
        <p>Coffee:{{value2}}, {{value1}}</p>
        <p>Total: R{{total}}</p>
         <p>Quantity:{{increment}}</p>
         <p>Thank You Please Call Again!</p>
            

    </div>

                      


<ion-row>
 <ion-col>
 <button ion-button (click)="Order()">Order</button>
  </ion-col>
  <ion-col>
   
   </ion-col>
   <ion-col>
  <button ion-button (click)="Reset()">Reset</button>
  </ion-col>
  </ion-row>

   
              

                    


</ion-content>