page-home{
    ion-content{
        h2{
            margin: auto;
            margin-left: 123px;
        }
        ion-row{
            border: 1px ;
            width: 90%;
            margin: auto;
            margin-top: 10px;
        }
        ion-col{
            padding: 10px;
        }
    }
}